.navbar img{
    width: 150px;
    image-rendering:auto;
}

.main-navbar{
    background-color: rgb(154,5,156);
}
.collapse{
    display: flex;
    justify-content: center;
    
}

.navbar-nav li{
    padding-left: 20px;
    margin-top: 12px;
    color: rgb(255, 255, 255);
}

